body  {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.elitedaily.com%2Fp%2F15-space-zoom-backgrounds-that-are-out-of-this-world-22846181&psig=AOvVaw0FeqmgmtjRlWB-IC57ciZk&ust=1612940164573000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOjjx72c3O4CFQAAAAAdAAAAABAP");
}
#nav-table {width: 800px;}
#nav-td {width: 200px; text-align:center;}
